* {
  margin: auto;
  padding: 0;
}
body {
  background: url(/img/Background.png) center center/cover no-repeat;
  font-family: "DotGothic16", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container {
  max-width: 1670px;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
}

.logo {
  width: 194px;
  height: 112px;
}

.logo .headerLogo {
  height: 97px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  flex-wrap: wrap;
}

.nav a {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.nav .Primary {
  color: #00ffa3;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.hero {
  min-height: 945px;
  background: url(../img/bg_hero.png);
  background-size: cover;
  padding-top: 690px;
  padding-bottom: 250px;
}

.hero .hero_header {
  color: #ffffff;
  font-family: "DotGothic16";
  font-size: 58px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.hero .hero_descr {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 42px;
}

.hero .hero_btn {
  display: block;
  width: 286px;
  height: 59px;
  background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  margin: 37px auto;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.cart {
  background: url(/img/bg_vector_cart.png) center center/cover no-repeat;
  min-height: 917px;
  transform: translateY(-104px);
  z-index: 1;
}

.headerCarts {
  display: flex;
  align-items: baseline;
}

.headerCarts .Carts {
  opacity: 0.1;
  color: #ffffff;
  font-family: "Dot Gothic 16";
  font-size: 144px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.headerCarts .the_fastest {
  opacity: 0.7;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4.5px;
  line-height: normal;
}
.headerCarts .cartsLine {
  width: 219px;
  height: 2px;
  border: 2px solid #ffffff;
}

.cart_img {
  display: flex;
  justify-content: center;
}

.cart1 {
  max-width: 453px;
  max-height: 453px;
}

.cart1_title {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}

.cart2 {
  max-width: 830px;
  max-height: 830px;
}

.cart2img {
  max-width: 830px;
  max-height: 630px;
}

.cart2_title {
  color: #ffffff;
  font-family: "Dot Gothic 16";
  font-size: 36px;
  font-weight: 400;
  text-align: right;
}

.cart2_subTitle {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin-top: 23px;
}

.cart2_description {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.61px;
  text-align: right;
  margin-top: 23px;
}

.cart3 {
  max-width: 423px;
  max-height: 429px;
}

.cart3_title {
  color: #ffffff;
  font-family: "Dot Gothic 16";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.booking {
  height: 604px;
  background: url(/img/backgroundBooking.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.booking .booking_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking .bookingHeader {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 84px;
  color: #ffffff;
}

.booking .bookingLine {
  width: 200px;
  border: 2px solid #ffffff;
}

.booking .bookingOneclick {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.25em;
  color: #ffffff;
  opacity: 0.7;
}

.booking .bookingBooking {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 209px;

  text-align: right;
  color: #ffffff;
  opacity: 0.1;
}

.booking .bookingDescription {
  width: 524px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.booking .trasse {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #00ffa3;
}
.booking .trasseDescr {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.booking .sec {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #00ffa3;
}

.booking .secDescription {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}

.booking .bookingBtn {
  width: 286px;
  height: 59px;
  background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  color: #ffffff;
}

.booking .bookingSection {
  margin-top: 50px;
}

.features {
  background: url(/img/BG_VectorFeatures.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 722px;
}

.headerFeatures {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
  flex-wrap: wrap;
}

.features .Features {
  opacity: 0.1;
  color: #ffffff;
  font-family: "Dot Gothic 16";
  font-size: 144px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
}

.our_features {
  opacity: 0.7;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4.5px;
  line-height: normal;
}

.featuresLine {
  width: 190px;
  height: 2px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.FeaturesRus {
  color: #ffffff;
  font-family: "Dot Gothic 16";
  font-size: 58px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.options1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options1 .track {
  display: flex;
  align-items: center;
  background-color: #031822;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
}

.options1 .trackText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options1 .trackText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.options1 .axxel {
  display: flex;
  align-items: center;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
  background-color: #031822;
}

.options1 .axxelText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options1 .axxelText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.options1 .safe {
  display: flex;
  align-items: center;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
}

.options1 .safeText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options1 .safeText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.options2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
  justify-content: space-between;
}

.options2 .eco {
  display: flex;
  align-items: center;
  background-color: #031822;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
}

.options2 .ecoText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options2 .ecoText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.options2 .dino {
  display: flex;
  align-items: center;
  background-color: #031822;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
}

.options2 .dinoText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options2 .dinoText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.options2 .reverse {
  display: flex;
  align-items: center;
  width: 513px;
  height: 178px;
  border: 2px solid rgba(0, 216, 164, 1);
  border-radius: 16px;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
}

.options2 .reverseText h3 {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.options2 .reverseText p {
  opacity: 0.5;
  color: #ffffff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.contacts {
  min-height: 505px;
  background: url(/img/BG_VectorFeatures.png);
}
.headerContact {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.contacts .contact {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 84px;
  text-align: left;
  color: #ffffff;
}

.contacts .contactLine {
  width: 218px;
  height: 2px;
  background-color: #ffffff;
}

.contacts .contactWritetous {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.25em;
  color: #ffffff;
  opacity: 0.7;
}

.contacts .addres {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 10px;
}

.contacts .addres h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #00ffa3;
}

.contacts .phone a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.contacts .mail a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.contacts .mail {
  margin-top: 10px;
}

.contacts .time {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
}

.contacts .btn {
  width: 286px;
  height: 59px;
  background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  margin-top: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

footer {
  height: 412px;
  background: url(/img/footerbg.png) center center/cover no-repeat;
}

.footerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.navFooter a {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.navFooter .Primary {
  color: #00ffa3;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

footer .footerLogoImg .footerLogoImg {
  width: 194px;
  height: 112px;
  left: 120px;
  top: 77px;
}

footer .footerlogo p {
  width: 435px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
}

footer .copyrigtText {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #00ffa3;
  margin-top: 65px;
}

footer .social {
  text-align: end;
  margin-top: 50px;
}
